html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: static;
  display: flex;
  overflow: visible;
  width: auto;
  height: 100vh;
  margin-top: 0px;
  margin-left: 0px;
  flex-flow: column;
  place-content: top;
  align-items: center;
  background-color: transparent;
  background-image: radial-gradient(
    circle at 0% 0%,
    red,
    rgb(61, 0, 0) 29%,
    black 50%,
    navy 80%,
    blue
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: auto;
}

.return-home {
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 0px;
  padding-left: 0px;
  align-self: flex-start;
}

.pageContainer {
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align content horizontally */
  width: auto; /* Full width of the page */
  justify-content: center;
  text-align: center;
}

.image {
  margin-top: 0px;
  margin-left: 0px;
  align-self: center;
}

.text {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 15px;
  padding-top: 20px;
  text-decoration: none;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: rgb(143, 143, 143);
}

.desktopView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.mobileView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

@media screen and (max-width: 991px) {
  body {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  body {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  body {
    text-align: center;
  }
}
