.container {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 400px;
  height: 400px;
  border: none;
  text-align: center;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}

.overlay {
  /*must be enabled to swipe*/
  position: absolute;
  inset: 0;
  width: 90%;
  height: 100%;
  cursor: grab;
  /*z-index: 11;*/
  pointer-events: auto;
  touch-action: none;
}

.overlay.swiping {
  cursor: grabbing;
  /*z-index: 100; /* Bring to front when dragging */
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: auto; /* Allow drag events to pass through */
  display: block;
}
