.deckContainer {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  touch-action: none; /* Prevent browser scroll */
  padding: 25px; /* padding so there's space outside cards to tap*/
}

.backCard {
  position: absolute;
  inset: 0;
  transform: scale(0.95);
  opacity: 0.7; /* higher = better visibility */
  pointer-events: none;
  touch-action: none; /* bg card doesn't interfere with gesture */
}

.backCard iframe {
  width: 100%;
  height: 380px;
  border: none;
  border-radius: 12px;
}
